<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <!-- <nav class="navbar bg-dark navbar-dark">
            <ul class="navbar-nav">
                <div *ngFor="let main of categorylist">
                    <li class="nav-item dropdown" *ngIf="!main.MainCategory">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                            {{main.Name}}
                        </a>
                        <div class="dropdown-menu">
                            <div *ngFor="let sub of categorylist">
                                <a class="dropdown-item" *ngIf="sub.MainCategory==main.CategoryID"
                                (click)="onSelectCategory(sub.CategoryID)">
                                    {{sub.Name}}
                                </a>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </nav> -->
            <nav class="navbar bg-dark navbar-dark">
                <ul class="navbar-nav">
                    <div *ngFor="let main of categorylist">
                        <li class="nav-item" *ngIf="!main.MainCategory">
                            <a class="nav-link" (click)="onSelectCategory(main.CategoryID)">
                                {{main.Name}}
                            </a>
                            <ul class="navbar-nav" style="margin-left: 20px">
                                <li class="nav-item" *ngFor="let sub of categorylist">
                                    <a class="nav-link" *ngIf="sub.MainCategory==main.CategoryID"
                                        (click)="onSelectCategory(sub.CategoryID)">
                                        {{sub.Name}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </div>
                </ul>
            </nav>

        </div>
        <div class="col-sm-9">
            <div class="nav">
                <div *ngFor="let item of productlist | paginate: pageconfig; let i = index">
                    <img class="img-fluid" [src]="item.Image" [routerLink]="['/add-product-to-cart', item.ProductID]"
                        style="width: 142px;height: 182px; margin-left: 10px; margin-top: 10px;">
                    <p class="d-flex justify-content-center">{{item.Name}}</p>
                    <p class="d-flex justify-content-center">{{item.Price}} VNĐ</p>
                </div>

            </div>
            <div class="d-flex justify-content-center" style="margin-top: 20px;">
                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>