<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <h2 class="d-flex justify-content-center">Thêm sản phẩm</h2>
    <div class="container" style="margin-bottom: 20px;">
        <div class="row">
            <div class="col">
                <p>Hình ảnh</p>
                <label for="file" class="btn btn-dark"> Chọn ảnh</label>
                <div class="alert alert-danger" *ngIf="imagerequire">Hãy chọn một ảnh</div>
                <input type="file" (change)="onSelectFile($event)" id="file" style="visibility: hidden;">
                <div class="d-flex justify-content-center">
                    <img [src]="currentimage" class="img-fluid" style="max-width: 450px; max-height: 600px;"
                        *ngIf="currentimage!=''">
                </div>
            </div>
            <div class="col">
                <p>Tên sản phẩm</p>
                <input type="text" [(ngModel)]="product.Name" [ngModelOptions]="{standalone: true}"
                    class="form-control">
                <div class="alert alert-danger" *ngIf="namerequire">Hãy nhập tên sản phẩm</div>
                <p></p>

                <div class="row" style="margin-bottom: 10px;">
                    <div class="col">Kích thước</div>
                    <div class="col">Số lượng</div>
                </div>
                <div class="row" style="margin-bottom: 10px;" *ngFor="let opt of product.Size; let i = index">
                    <div class="col">
                        <div class="align-middle">{{opt}}</div>
                    </div>
                    <div class="col"><input type="number" #quantity [(ngModel)]="product.Quantity[i]"
                            [ngModelOptions]="{standalone: true}" class="form-control" (change)="OnQuantityChange(i)"
                            (click)="quantity.select()">
                    </div>
                </div>

                <p></p>
                <p>Danh mục chính</p>
                <select class="form-control" [(ngModel)]="maincategory" [ngModelOptions]="{standalone: true}">
                    <option value="">Hãy chọn 1 loại</option>
                    <ng-container *ngFor="let category of categorylist">
                        <option *ngIf="category.MainCategory==null" value="{{category.CategoryID}}">
                            {{category.Name}}
                        </option>
                    </ng-container>
                </select>
                <p></p>
                <p>Danh mục phụ</p>
                <select class="form-control" name="category" [(ngModel)]="product.CategoryID"
                    [ngModelOptions]="{standalone: true}">
                    <option value="">Hãy chọn 1 loại</option>
                    <ng-container *ngFor="let category of categorylist">
                        <option *ngIf="category.MainCategory==maincategory" value="{{category.CategoryID}}">
                            {{category.Name}}</option>
                    </ng-container>
                </select>
                <div class="alert alert-danger" *ngIf="categoryrequire">Hãy chọn một danh mục</div>
                <p></p>
                <p>Giá: {{product.Price | number}} VNĐ</p>
                <input type="number" #price [(ngModel)]="product.Price" [ngModelOptions]="{standalone: true}"
                    class="form-control" (change)="OnPriceChange()" (click)="price.select()">
                <p></p>
                <p>Khuyến mãi: {{product.DiscountPercent | number}} %</p>
                <input type="number" #discount [(ngModel)]="product.DiscountPercent"
                    [ngModelOptions]="{standalone: true}" class="form-control" min="0" max="100"
                    (change)="OnDiscountChange()" (click)="discount.select()">
                <p></p>
                <button class="btn btn-dark" type="submit">Lưu</button>
                <button class="btn btn-dark" (click)="Cancel()" style="margin-left: 10px;">Hủy</button>
            </div>
        </div>
    </div>
</form>

<div class="sticky" *ngIf="loading">
    <div class="d-flex flex-column align-items-center justify-content-center" 
    style="width: 30%; margin: auto; padding: 50px; background-color: #343a40;">
        <div class="row">
            <p>Đang lưu...</p>
        </div>
        <div class="row">
            <div class="spinner-border text-light" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>