<h2>Thanh toán giỏ hàng</h2>
<div class="container" style="margin-bottom: 20px;">
    <div class="row">
        <div class="col-sm-4">
            <h4>Thông tin hóa đơn</h4>
            <p>Họ và tên</p>
            <input #receivername class="form-control" type="text" value="{{user.FullName}}">
            <p>Email</p>
            <input #email class="form-control" type="text" value="{{user.Email}}">
            <p>SDT</p>
            <input #phone class="form-control" type="text" value="{{user.Phone}}">
            <p>Địa chỉ giao hàng</p>
            <textarea #address class="form-control">{{user.Address}}</textarea>
        </div>
        <div class="col-sm-8">
            <h4>Thông tin giỏ hàng</h4>
            <div class="row">
                <div class="col">Tên sản phẩm</div>
                <div class="col">Size</div>
                <div class="col">Số lượng</div>
                <div class="col">Giá</div>
            </div>
            <div class="row" *ngFor="let item of mycart">
                <div class="col">{{item.Name}}</div>
                <div class="col">{{item.Size}}</div>
                <div class="col">{{item.Amount}}</div>
                <div class="col">{{item.SalePrice | number}} VNĐ</div>
            </div>
            <div class="row">
                <div class="col font-weight-bold">
                    Tổng cộng:
                </div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">
                    {{totalprice | number}} VNĐ
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-dark" style="margin-right: 10px;">Tiếp tục mua hàng</button>
                        <button class="btn btn-dark" (click)="AddBill(receivername.value, phone.value, address.value, email.value)">Xác nhận thanh toán</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>