<div class="container" style="width:device-width;">
    <h1 class="d-flex justify-content-center">Danh sách hóa đơn</h1>
    <!-- <button class="btn btn-dark" [routerLink]="['/add-product']" routerLinkActive="router-link-active">Thêm sản
        phẩm</button>
    <p></p> -->
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th class="col-head" (click)="ChangeSortColumn(1)">Mã hóa đơn 
                        <i *ngIf="sortcolumn!=1; else updown1" class="fas fa-sort"></i>
                        <ng-template #updown1>
                            <i *ngIf="asc" class="fas fa-sort-up"></i>
                        <i *ngIf="!asc" class="fas fa-sort-down"></i>
                        </ng-template>
                    </th>
                    <th class="col-head" (click)="ChangeSortColumn(2)">Tên khách hàng 
                        <i *ngIf="sortcolumn!=2; else updown2" class="fas fa-sort"></i>
                        <ng-template #updown2>
                            <i *ngIf="asc" class="fas fa-sort-up"></i>
                        <i *ngIf="!asc" class="fas fa-sort-down"></i>
                        </ng-template>
                    </th>
                    <th class="col-head" (click)="ChangeSortColumn(3)">Ngày đặt hàng
                        <i *ngIf="sortcolumn!=3; else updown3" class="fas fa-sort"></i>
                        <ng-template #updown3>
                            <i *ngIf="asc" class="fas fa-sort-up"></i>
                        <i *ngIf="!asc" class="fas fa-sort-down"></i>
                        </ng-template>
                    </th>
                    <th class="col-head" (click)="ChangeSortColumn(4)">Tổng giá (VNĐ)
                        <i *ngIf="sortcolumn!=4; else updown4" class="fas fa-sort"></i>
                        <ng-template #updown4>
                            <i *ngIf="asc" class="fas fa-sort-up"></i>
                        <i *ngIf="!asc" class="fas fa-sort-down"></i>
                        </ng-template>
                    </th>
                    <th class="col-head">Trạng thái
                        <select style="margin-left: 10px;" [(ngModel)]="filterstatus" (change)="Filter()">
                            <option value="Tất cả">Tất cả</option>
                            <option value="Đang chờ xác nhận">Đang chờ xác nhận</option>
                            <option value="Đã xác nhận">Đã xác nhận</option>
                            <option value="Đang giao hàng">Đang giao hàng</option>
                            <option value="Đã thanh toán">Đã thanh toán</option>
                            <option value="Đã hủy">Đã hủy</option>
                        </select>
                    </th>
                    <th class="col-head">Tùy chọn</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of billtable | paginate: pageconfig">
                <tr>
                    <td>{{item.BillID}}</td>
                    <td>{{item.ReceiverName}}</td>
                    <td>{{item.OrderDate | date: "dd/MM/yyyy"}}</td>
                    <td>{{item.TotalPrice | number}}</td>
                    <td>{{item.Status}}</td>
                    <!-- <td><button class="btn btn-dark" style="margin-left: 5px"
                            [routerLink]="['/update-product', item.ProductID]"
                            routerLinkActive="router-link-active">Sửa</button>
                        <button class="btn btn-dark" style="margin-left: 5px;"
                            (click)="DeleteProduct(item.ProductID)">Xóa</button> -->
                    <td style="vertical-align: middle; text-align: center;">
                        <i class="fas fa-edit fa-lg"
                            [routerLink]="['/edit-bill',item.BillID]"
                            title="Edit"></i>
                        <!-- <i class="fas fa-trash" style="margin-left: 5px;" (click)="DeleteBill(item.BillID)"
                            title="Delete"></i> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
</div>