<div class="container" style="width:device-width;">
    <h1 class="d-flex justify-content-center">Danh sách hóa đơn</h1>
    <!-- <button class="btn btn-dark" [routerLink]="['/add-product']" routerLinkActive="router-link-active">Thêm sản
        phẩm</button>
    <p></p> -->
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Mã hóa đơn</th>
                    <th>Ngày đặt hàng</th>
                    <th>Tình trạng</th>
                    <th>Tùy chọn</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of billtable | paginate: pageconfig">
                <tr>
                    <td>{{item.BillID}}</td>
                    <td>{{item.OrderDate | date: "dd/MM/yyyy"}}</td>
                    <td>{{item.Status}}</td>
                    <!-- <td><button class="btn btn-dark" style="margin-left: 5px"
                            [routerLink]="['/update-product', item.ProductID]"
                            routerLinkActive="router-link-active">Sửa</button>
                        <button class="btn btn-dark" style="margin-left: 5px;"
                            (click)="DeleteProduct(item.ProductID)">Xóa</button> -->
                    <td>
                        <i class="fas fa-edit" style="margin-left: 5px;"
                            [routerLink]="['/edit-bill',item.BillID]"
                            title="Edit"></i>
                        <i class="fas fa-trash" style="margin-left: 5px;" (click)="DeleteProduct(item.BillID)"
                            title="Delete"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
</div>