USE [master]
GO
/****** Object:  Database [RoseFashionDB]    Script Date: 4/8/2020 8:24:24 PM ******/
CREATE DATABASE [RoseFashionDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RoseFashionDB', FILENAME = N'D:\TLCN\RoseFashionDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RoseFashionDB_log', FILENAME = N'D:\TLCN\RoseFashionDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RoseFashionDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RoseFashionDB]
GO
USE [RoseFashionDB]
GO
/****** Object:  UserDefinedTableType [dbo].[ProductIDs]    Script Date: 4/8/2020 8:24:25 PM ******/
CREATE TYPE [dbo].[ProductIDs] AS TABLE(
	[ProductID] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[FN_GET1PAGE]    Script Date: 4/8/2020 8:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[FN_GET1PAGE](@IDList dbo.ProductIDs readonly) RETURNS @result table(pname nvarchar(MAX)) AS
BEGIN
	insert into @result 
		select Product.Name as pname 
		from Product
		inner join @IDList as idls on Product.ProductID = idls.ProductID;
	return
END 
GO
/****** Object:  UserDefinedFunction [dbo].[FN_TOPSALE]    Script Date: 4/8/2020 8:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_TOPSALE]() RETURNS @RESULT TABLE (PID VARCHAR(50), TOTAL INT) AS
BEGIN
	DECLARE @TEMP TABLE(PID VARCHAR(50), AMT INT)
	INSERT INTO @TEMP SELECT ProductID, SUM(Amount) FROM dbo.Cart_Product GROUP BY ProductID;
	INSERT INTO @RESULT SELECT TOP 10 PID, MAX(AMT) AS TOTAL FROM @TEMP GROUP BY PID ORDER BY TOTAL DESC;
	RETURN
END
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 4/8/2020 8:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[BillID] [varchar](50) NOT NULL,
	[CartID] [varchar](50) NOT NULL,
	[ReceiverName] [nvarchar](50) NOT NULL,
	[ReceiverPhone] [nchar](10) NOT NULL,
	[DeliveryAddress] [nvarchar](max) NOT NULL,
	[ProvinceID] [varchar](50) NOT NULL,
	[DistrictID] [varchar](50) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[DeliveryDate] [date] NULL,
	[DiscountCode] [varchar](50) NULL,
	[TotalPrice] [bigint] NOT NULL,
	[DeliveryFee] [bigint] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cart]    Script Date: 4/8/2020 8:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartID] [varchar](50) NOT NULL,
	[UserID] [varchar](50) NOT NULL,
	[IsUsing] [bit] NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cart_Product]    Script Date: 4/8/2020 8:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart_Product](
	[CartID] [varchar](50) NOT NULL,
	[ProductID] [varchar](50) NOT NULL,
	[Size] [varchar](50) NOT NULL,
	[Amount] [int] NOT NULL,
	[SalePrice] [bigint] NOT NULL,
	[OriginalPrice] [bigint] NOT NULL,
 CONSTRAINT [PK_Cart_Product] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 4/8/2020 8:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [varchar](50) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[MainCategory] [varchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Discount]    Script Date: 4/8/2020 8:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[DiscountCode] [varchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Value] [float] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Discount] PRIMARY KEY CLUSTERED 
(
	[DiscountCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[District]    Script Date: 4/8/2020 8:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[DistrictID] [varchar](50) NOT NULL,
	[ProvinceID] [varchar](50) NOT NULL,
	[DistrictName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_District] PRIMARY KEY CLUSTERED 
(
	[DistrictID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 4/8/2020 8:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [varchar](50) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Color] [varchar](50) NULL,
	[CategoryID] [varchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [varchar](max) NULL,
	[Price] [bigint] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DiscountPercent] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product_Size_Quantity]    Script Date: 4/8/2020 8:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Size_Quantity](
	[ProductID] [varchar](50) NOT NULL,
	[Size] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Product_Size_Quantity] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[Size] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Province]    Script Date: 4/8/2020 8:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[ProvinceID] [varchar](50) NOT NULL,
	[ProvinceName] [nvarchar](50) NOT NULL,
	[DeliveryFee] [bigint] NOT NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[ProvinceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rating]    Script Date: 4/8/2020 8:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[UserID] [varchar](50) NOT NULL,
	[ProductID] [varchar](50) NOT NULL,
	[Star] [float] NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_Rating] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Recommendation]    Script Date: 4/8/2020 8:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recommendation](
	[UserID] [varchar](50) NOT NULL,
	[ProductID] [varchar](50) NOT NULL,
	[PredictedStar] [float] NOT NULL,
 CONSTRAINT [PK_Recommendation] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Similarity]    Script Date: 4/8/2020 8:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Similarity](
	[UserID1] [varchar](50) NOT NULL,
	[UserID2] [varchar](50) NOT NULL,
	[SimilarityRate] [float] NOT NULL,
 CONSTRAINT [PK_Similarity] PRIMARY KEY CLUSTERED 
(
	[UserID1] ASC,
	[UserID2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 4/8/2020 8:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [varchar](50) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [varchar](5) NULL,
	[DOB] [date] NULL,
	[Email] [varchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [varchar](10) NULL,
	[Role] [varchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Bill] ([BillID], [CartID], [ReceiverName], [ReceiverPhone], [DeliveryAddress], [ProvinceID], [DistrictID], [OrderDate], [DeliveryDate], [DiscountCode], [TotalPrice], [DeliveryFee], [Status]) VALUES (N'BL-1', N'CR-12', N'Nguyễn Văn A', N'0738962243', N'số 15, đường A, phường B', N'PV-1', N'DT-5', CAST(N'2020-04-08' AS Date), NULL, NULL, 699000, 10000, N'Đang đợi duyệt.')
INSERT [dbo].[Cart] ([CartID], [UserID], [IsUsing]) VALUES (N'CR-1', N'9011576b-720b-4d64-a01c-87479922a5da', 0)
INSERT [dbo].[Cart] ([CartID], [UserID], [IsUsing]) VALUES (N'CR-10', N'73a1abbb-d31e-46d0-a349-4ec5d3df565f', 1)
INSERT [dbo].[Cart] ([CartID], [UserID], [IsUsing]) VALUES (N'CR-11', N'e58f964e-75ab-471f-917b-a689a0fe78cf', 0)
INSERT [dbo].[Cart_Product] ([CartID], [ProductID], [Size], [Amount], [SalePrice], [OriginalPrice]) VALUES (N'CR-1', N'PR-1', N'M', 1, 699000, 699000)
INSERT [dbo].[Cart_Product] ([CartID], [ProductID], [Size], [Amount], [SalePrice], [OriginalPrice]) VALUES (N'CR-1', N'PR-14', N'L', 1, 178500, 210000)
INSERT [dbo].[Cart_Product] ([CartID], [ProductID], [Size], [Amount], [SalePrice], [OriginalPrice]) VALUES (N'CR-1', N'PR-16', N'M', 1, 500000, 500000)
INSERT [dbo].[Category] ([CategoryID], [Name], [MainCategory]) VALUES (N'CT1', N'Nam', NULL)
INSERT [dbo].[Category] ([CategoryID], [Name], [MainCategory]) VALUES (N'CT10', N'Quần jean', N'CT1')
INSERT [dbo].[Category] ([CategoryID], [Name], [MainCategory]) VALUES (N'CT11', N'Áo polo', N'CT1')
INSERT [dbo].[District] ([DistrictID], [ProvinceID], [DistrictName]) VALUES (N'DT-1', N'PV-1', N'An Phú')
INSERT [dbo].[District] ([DistrictID], [ProvinceID], [DistrictName]) VALUES (N'DT-10', N'PV-1', N'Tịnh Biên')
INSERT [dbo].[District] ([DistrictID], [ProvinceID], [DistrictName]) VALUES (N'DT-100', N'PV-11', N'Phú Quý')
GO
INSERT [dbo].[Product] ([ProductID], [Name], [Color], [CategoryID], [Description], [Image], [Price], [IsDeleted], [DiscountPercent]) VALUES (N'PR-1', N'Áo khoác nam A1', N'#000000', N'CT5', N'100%cotton
Giặt máy ở chế độ nhẹ nhàng, nhiệt độ thông thường
Sử dụng hóa chất tẩy không có chất Clo
Sấy khô ở nhiệt độ thấp 110°, là ở nhiệt độ trung bình 150°
Giặt với sản phẩm cùng màu
Nên phơi vắt ngang', N'http://localhost:62098/images/PR-1.png', 699000, 0, 0)
INSERT [dbo].[Product] ([ProductID], [Name], [Color], [CategoryID], [Description], [Image], [Price], [IsDeleted], [DiscountPercent]) VALUES (N'PR-10', N'Áo sơ mi trơn xám', N'#000000', N'CT4', NULL, N'http://localhost:62098/images/PR-10.png', 700000, 0, 0)
INSERT [dbo].[Product] ([ProductID], [Name], [Color], [CategoryID], [Description], [Image], [Price], [IsDeleted], [DiscountPercent]) VALUES (N'PR-11', N'Quần jean xanh đậm nhạt', N'#000000', N'CT10', NULL, N'http://localhost:62098/images/PR-11.png', 100000, 0, 10)
INSERT [dbo].[Product_Size_Quantity] ([ProductID], [Size], [Quantity]) VALUES (N'PR-1', N'L', 14)
INSERT [dbo].[Product_Size_Quantity] ([ProductID], [Size], [Quantity]) VALUES (N'PR-1', N'M', 0)
INSERT [dbo].[Product_Size_Quantity] ([ProductID], [Size], [Quantity]) VALUES (N'PR-1', N'S', 10)
GO
INSERT [dbo].[Province] ([ProvinceID], [ProvinceName], [DeliveryFee]) VALUES (N'PV-1', N'An Giang', 10000)
INSERT [dbo].[Province] ([ProvinceID], [ProvinceName], [DeliveryFee]) VALUES (N'PV-10', N'Bình Phước', 0)
INSERT [dbo].[Province] ([ProvinceID], [ProvinceName], [DeliveryFee]) VALUES (N'PV-11', N'Bình Thuận', 0)
INSERT [dbo].[User] ([UserID], [Password], [FullName], [Gender], [DOB], [Email], [Address], [Phone], [Role]) VALUES (N'25a7f9a6-42a9-4cca-84d1-176e038cdc17', N'9e4ed1ebb2917ebe66cfe5e3ccdcc3ed', N'GUEST', NULL, NULL, NULL, NULL, NULL, N'guest')
INSERT [dbo].[User] ([UserID], [Password], [FullName], [Gender], [DOB], [Email], [Address], [Phone], [Role]) VALUES (N'2e761ee0-536d-48e2-9b0e-9cd09fb46791', N'0a147bdc64382070c2c80d2583c95f53', N'GUEST', NULL, NULL, NULL, NULL, NULL, N'guest')
INSERT [dbo].[User] ([UserID], [Password], [FullName], [Gender], [DOB], [Email], [Address], [Phone], [Role]) VALUES (N'2e89b21e-cb30-42cd-b665-1dea46fd3ced', N'bfd59291e825b5f2bbf1eb76569f8fe7', N'asd', NULL, NULL, N'asd123@gmail.com', NULL, NULL, N'user')
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Cart] FOREIGN KEY([CartID])
REFERENCES [dbo].[Cart] ([CartID])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Cart]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Discount] FOREIGN KEY([DiscountCode])
REFERENCES [dbo].[Discount] ([DiscountCode])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Discount]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_District] FOREIGN KEY([DistrictID])
REFERENCES [dbo].[District] ([DistrictID])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_District]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Province] FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ProvinceID])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Province]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_User]
GO
ALTER TABLE [dbo].[Cart_Product]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product_Cart] FOREIGN KEY([CartID])
REFERENCES [dbo].[Cart] ([CartID])
GO
ALTER TABLE [dbo].[Cart_Product] CHECK CONSTRAINT [FK_Cart_Product_Cart]
GO
ALTER TABLE [dbo].[Cart_Product]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Cart_Product] CHECK CONSTRAINT [FK_Cart_Product_Product]
GO
ALTER TABLE [dbo].[District]  WITH CHECK ADD  CONSTRAINT [FK_District_Province] FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ProvinceID])
GO
ALTER TABLE [dbo].[District] CHECK CONSTRAINT [FK_District_Province]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product_Size_Quantity]  WITH CHECK ADD  CONSTRAINT [FK_Product_Size_Quantity_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Product_Size_Quantity] CHECK CONSTRAINT [FK_Product_Size_Quantity_Product]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Product]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_User]
GO
USE [master]
GO
