<h2 class="d-flex justify-content-center">CHI TIẾT ĐƠN HÀNG {{billinfo.BillID}}</h2>

<div class="container">
    <div class="row bg-dark text-white d-flex justify-content-center">
        <p>THÔNG TIN CHUNG</p>
    </div>

    <div class="row" style="background-color: whitesmoke;">
        <div class="col">
            <p>Họ tên: {{billinfo.ReceiverName}}</p>
        </div>
        <div class="col">
            <p>Ngày đặt hàng: {{billinfo.OrderDate | date: 'dd/MM/yyyy'}}</p>
        </div>
    </div>

    <div class="row" style="background-color: whitesmoke;">
        <div class="col">
            <p>Điện thoại: {{billinfo.ReceiverPhone}}</p>
        </div>
        <div class="col">
            <p>Ngày nhận hàng: <input *ngIf="statuscode==3" id="dldate" type="date" [ngModel]="billinfo.DeliveryDate | date: 'yyyy-MM-dd'"
                (ngModelChange)="billinfo.DeliveryDate=$event"></p>
        </div>
    </div>

    <div class="row" style="background-color: whitesmoke;">
        <div class="col">
            <p>Tỉnh/Thành phố: {{billinfo.ProvinceName}}</p>
        </div>
        <div class="col">
            <p>Phí vận chuyển: {{billinfo.DeliveryFee | number}} VNĐ</p>
        </div>
    </div>

    <div class="row" style="background-color: whitesmoke;">
        <div class="col">
            <p>Quận/Huyện: {{billinfo.DistrictName}}</p>
        </div>
        <div class="col">
            <p>Phương thức thanh toán: {{billinfo.PaymentMethod}}</p>
        </div>
    </div>

    <div class="row" style="background-color: whitesmoke;">
        <div class="col">
            <p>Địa chỉ: {{billinfo.DeliveryAddress}}</p>
        </div>
        <div class="col">
            <p>Trạng thái:
                <select [(ngModel)]="statuscode">
                    <option value="0">Đang chờ xác nhận</option>
                    <option value="1">Đã xác nhận</option>
                    <option value="2">Đang giao hàng</option>
                    <option value="3">Đã thanh toán</option>
                    <option value="4">Đã hủy</option>
                </select>
            </p>
        </div>
    </div>

    <!-- <div class="row" style="background-color: whitesmoke;">
        <div class="col">
            <p>Họ tên: {{billinfo.ReceiverName}}</p>
        </div>
        <div class="col">
            <p>Tỉnh/Thành phố: {{billinfo.ProvinceName}}</p>
        </div>
        <div class="col">
            <p>Ngày đặt hàng: {{billinfo.OrderDate | date: 'dd/MM/yyyy'}}</p>
        </div>
    </div>

    <div class="row" style="background-color: whitesmoke;">
        <div class="col">
            <p>Điện thoại: {{billinfo.ReceiverPhone}}</p>
        </div>
        <div class="col">
            <p>Quận/Huyện: {{billinfo.DistrictName}}</p>
        </div>
        <div class="col">
            <p>Ngày nhận hàng: <input *ngIf="billinfo.Status=='Đã thanh toán'" id="dldate" type="date" [ngModel]="billinfo.DeliveryDate | date: 'yyyy-MM-dd'"
                    (ngModelChange)="billinfo.DeliveryDate=$event"></p>
        </div>
    </div>

    <div class="row" style="background-color: whitesmoke;">
        <div class="col">
            <p>Trạng thái:
                <select [(ngModel)]="billinfo.Status">
                    <option value="Đang chờ xác nhận">Đang chờ xác nhận</option>
                    <option value="Đã xác nhận">Đã xác nhận</option>
                    <option value="Đang giao hàng">Đang giao hàng</option>
                    <option value="Đã thanh toán">Đã thanh toán</option>
                    <option value="Đã hủy">Đã hủy</option>
                </select>
            </p>
        </div>
        <div class="col">
            <p>Địa chỉ: {{billinfo.DeliveryAddress}}</p>
        </div>
        <div class="col">
            <p>Phí vận chuyển: {{billinfo.DeliveryFee | number}} VNĐ</p>
        </div>
    </div> -->

    <div class="row d-flex justify-content-end" style="background-color: whitesmoke;">
        <button class="btn btn-dark" (click)="Save()">Lưu</button>
        <!-- <button class="btn btn-dark" (click)="Cancel()" style="margin-left: 10px;">Hủy</button> -->
    </div>
    <!-- <div class="col">
                <p>Thanh toán bằng tiền mặt.</p>
            </div>
            <div class="col">
                    <p>Đang giao hàng.</p>
                </div> -->
    <p></p>


    <div class="row">
        <div class="col">
            <h3 class="d-flex justify-content-center">GIỎ HÀNG</h3>
        </div>
    </div>
    <div class="row bg-dark text-white">
        <div class="col">
            <p>Hình ảnh</p>
        </div>
        <div class="col">
            <p>Tên sản phẩm</p>
        </div>
        <div class="col">
            <p>Số lượng đặt mua</p>
        </div>
        <div class="col">
            <p>Số lượng trong kho</p>
        </div>
        <div class="col">
            <p>Giá</p>
        </div>
        <!-- <div class="col">
            <p>Tùy chọn</p>
        </div> -->
    </div>
    <div class="row" style="overflow-x: hidden;overflow-y: auto;height: 260px;">
        <div class="row" *ngFor="let item of usedcart"
            style="border-bottom: 1px solid black; background-color: whitesmoke; width: -webkit-fill-available;">
            <div class="col">
                <img width="204px" height="240px" style="margin-bottom: 10px; margin-top: 10px;"
                    [src]="item.Image">
            </div>
            <div class="col" style="margin-bottom: 10px; margin-top: 10px;">
                <p>{{item.Name}} - Size: {{item.Size}}</p>
            </div>
            <div class="col" style="margin-bottom: 10px; margin-top: 10px;">
                <div *ngIf="item.Amount>item.Quantity;else ok">
                    <p style="color:red">{{item.Amount}}</p>
                </div>
                <ng-template #ok>
                    <p>{{item.Amount}}</p>
                </ng-template>
            </div>
            <div class="col" style="margin-bottom: 10px; margin-top: 10px;">
                <p>{{item.Quantity}}</p>
            </div>
            <div class="col" style="margin-bottom: 10px; margin-top: 10px;">
                <p *ngIf="item.OriginalPrice!=item.SalePrice" style="text-decoration: line-through;">
                    {{item.OriginalPrice | number}} VNĐ</p>
                <p class="d-inline">{{item.SalePrice}} VNĐ</p>
                <p *ngIf="item.OriginalPrice!=item.SalePrice" class="d-inline" style="color: red;">
                    (-{{(item.OriginalPrice-item.SalePrice)*100/item.OriginalPrice | number}}%)</p>
            </div>
            <!-- <div class="col" style="margin-bottom: 10px; margin-top: 10px;">
            <button class="btn btn-dark" (click)="AddToRemoveList(item.ProductID)">Xóa</button>
        </div> -->
            <!-- <div class="col">
            <p class="d-inline">{{item.SalePrice}} VNĐ</p>
            <p class="d-inline" style="color: red;">
                (-{{(item.OriginalPrice-item.SalePrice)*100/item.OriginalPrice | number}}%)</p>
        </div> -->
        </div>
    </div>
    <div class="row bg-dark text-white" style="margin-bottom: 10px;">
        <div class="col">
            <p>Tổng cộng:</p>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <p>{{billinfo.TotalPrice | number}} VNĐ</p>
        </div>
    </div>
</div>