
<!-- <ng-container *ngFor="let message of messages | async">

  <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                    'to':   message.sentBy === 'user' }">
    {{ message.content }}
  </div>

</ng-container>


<label for="nameField">Your Message</label>


<input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text"><br>

<button (click)="sendMessage()">Send</button>  -->


<!--  -->


<!-- <div class="detailBox">
  <div class="titleBox">
    <label>Comment Box</label>
    <button type="button" class="close" aria-hidden="true">&times;</button>
  </div>
  <div class="commentBox">

    <p class="taskDescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  </div>
  <div class="actionBox">


    <ng-container *ngFor="let message of messages | async">

      <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                        'to':   message.sentBy === 'user' }">
        {{ message.content }}
      </div>
    
    </ng-container>


    <form class="form-inline" role="form">
      <div class="form-group">
        <input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text">
      </div>
      <div class="form-group">
        <button (click)="sendMessage()">Send</button>
      </div>
    </form>
  </div>
</div>  -->

<i class="far fa-comment-dots fa-3x" (click)="showchatt()"></i>

<div *ngIf="showchat">
  <div  class="container" style="max-width: 350px;width: device-width;">
    <div class="form-inline">
      <div class="commentBox " >
        <p style="border-style: ridge;" class="taskDescription">Xin nhập câu hỏi để được tư vấn!
        
      </div>
      <button class="btn btn-dark float-right" (click)="hidechat()" style="margin-left: 50px;">X</button>
    </div>
   
    <div class="hr-sect"></div>
    <ng-container *ngFor="let message of messages | async">
  
      <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                        'to':   message.sentBy === 'user' }">
        {{ message.content }}
      </div>
  
    </ng-container>
    
  
  </div> 
  <div class="card bg-dark " style="width: 350px;height: 60px;" >
    <div class="form-inline"style="margin-top: 10px;">
      <input type="text" class="form-control" style="margin-left: 55px;" [(ngModel)]="formValue" (keyup.enter)="sendMessage()"><br>
    
      <button class="btn btn-light float-right"  (click)="sendMessage()" style="margin-left: 10px;">Send</button>
    </div>
  </div>
  
</div>
 



