<div  class="container" style="max-width: 350px; width:device-width;">
  <!-- 
      
   -->
    <div>
        <label>Email</label>
      <input class="form-control" [(ngModel)]="user.Email"  disabled>
    </div>
  
    <div>
        <label>Tên đăng nhập</label>
      <input class="form-control" [(ngModel)]="user.Username" >
      <div class="alert alert-danger" *ngIf="user.Username == '' ">
        <div >
          It's required.
        </div>
  </div>
    </div>

    <div>
      <label>Họ và tên</label>
    <input class="form-control" [(ngModel)]="user.FullName" >
    <div class="alert alert-danger" *ngIf="user.FullName == '' ">
      <div >
        It's required.
      </div>
  </div>
  </div>

  <div>
    <label>Địa chỉ</label>
  <input class="form-control" [(ngModel)]="user.Address"  >
</div>

<div>
    <label>Số điện thoại</label>
  <input class="form-control" [(ngModel)]="user.Phone"  >
</div>

 <div>
  <label>Năm sinh</label>
  <input class="form-control" [(ngModel)]="user.DOB "  >
</div> 

  
    <button  type="button" class="btn btn-success float-right" (click)="save()" >Save</button>
    <button type="button" class="btn btn-success float-right"  routerLink="/fecourse" style="margin-right: 5px;">Back</button>
  </div>
  

