<p>Thêm sản phẩm mới</p>
<p>Tên sản phẩm</p>
<input type="text" [(ngModel)]="newproduct.Name">
<P>Màu sắc</P>
<input type="color" [(ngModel)]="newproduct.Color">
<p>Kích thước</p>
<div *ngFor="let opt of sizes" style="display: inline;">
    <input type="checkbox" value="{{opt.name}}" [(ngModel)]="opt.checked">{{opt.name}}
</div>
<p>Loại khách hàng</p>
<select [(ngModel)]="selectedmaincategory">
    <ng-container *ngFor="let category of categorylist">
        <option *ngIf="category.MainCategory==null" value="{{category.CategoryID}}">{{category.Name}}</option>
    </ng-container>
</select>
<p>Loại sản phẩm</p>
<select name="category" [(ngModel)]="newproduct.CategoryID">
    <ng-container *ngFor="let category of categorylist">
        <option *ngIf="category.MainCategory==selectedmaincategory" value="{{category.CategoryID}}">{{category.Name}}</option>
    </ng-container>
</select>
<p>Mô tả</p>
<textarea [(ngModel)]="newproduct.Description"></textarea>
<p>Giá</p>
<input type="number" [(ngModel)]="newproduct.Price">
<p>Số lượng</p>
<input type="number" [(ngModel)]="newproduct.Quantity">
<p>Ảnh</p>
<input type="file" (change)="onSelectFile($event)">
<button (click)="GetSelectedSize()">Lưu</button>
<!--<p>Ảnh vừa thêm</p>
<button (click)="GetImage()">Hiện ảnh</button>
<img [src]="imgurl" height="200">-->

<!--<select name="size">
    <option value="" selected>Hãy chọn 1 size</option>
    <option value="S">S</option>
    <option value="M">M</option>
    <option value="L">L</option>
    <option value="XL">XL</option>
    <option value="XXL">XXL</option>
</select>-->
