<!-- <div id="org-text">Tiki áp dụng mức phí 39.000/đơn hàng cho mọi đơn hàng đăng ký dịch vụ TikiNOW 
    - Giao nhanh và 29.000/đơn hàng TikiNOW - Giao hàng hôm sau. 
    Bên cạnh đó, sẽ có ưu đãi đặc biệt về giá khi đăng ký trọn gói, quý khách có thể tham khảo chi tiết về các gói này tại đây.
</div>
<div style="width: 400px;">
<div class="block-ellipsis">Tiki áp dụng mức phí 39.000/đơn hàng cho mọi đơn hàng đăng ký dịch vụ TikiNOW 
    - Giao nhanh và 29.000/đơn hàng TikiNOW - Giao hàng hôm sau. 
    Bên cạnh đó, sẽ có ưu đãi đặc biệt về giá khi đăng ký trọn gói, quý khách có thể tham khảo chi tiết về các gói này tại đây.
</div>
</div>
<div style="display: inline;" *ngIf="overflow">...</div> -->