



<div class="container" style="width:device-width;">
    <h1>Danh sách các loại quần áo </h1>

    <button class="btn btn-dark" style="margin-left: 10px;" [routerLink]="['/addcategory']" routerLinkActive="router-link-active" >Thêm loại sản phẩm</button>

    <div style="margin-top:10px;" class="table-responsive" >
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Category ID</th>
                <th>Name</th>
                <th>MainCategory</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor= "let each of category" >

                <td>{{each.CategoryID}}</td>
                <td>{{each.Name}}</td>
                <td>{{each.MainCategory}}</td> 
                <td>
                  <i class="fas fa-edit" style="margin-right: 5px;" routerLink="/editcategory/{{each.CategoryID}}" title="Edit"></i>
                  <i class="fas fa-trash" (click)= "delete(each.CategoryID)" title="Delete"></i>
                </td>
            </tr>
        </tbody>
    </table>
    </div>

    </div>


    
     

