<!-- <div id="paypal-button-container"></div>

<button (click)="CreateJSON()">Create JSON Array</button>

<input type="hidden" id="jsondata" value="{{jsondata}}">
<input type="hidden" id="total" value="{{totalprice}}">

<div id="view">{{jsondata}}}</div>

<button id="runcode">Run code</button>

<button id="code" (click)="dosomething()">do something</button> -->
<h1 class="d-flex justify-content-center">Recommendation System</h1>
<div class="d-flex justify-content-center">
        <button class="btn btn-dark" (click)="RunAlgorithm()">Run Algorithm</button>
</div>
<h4 class="d-flex justify-content-center">{{message}}</h4>
<div style="height: 200px;"></div>