<div class="row">
    <div class="col-sm-2">
        <ul *ngFor="let main of categorylist">
            <li *ngIf="!main.MainCategory">
                {{main.Name}}
                <ul *ngFor="let sub of categorylist">
                    <li *ngIf="sub.MainCategory==main.CategoryID">
                        {{sub.Name}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="col-sm-10">
        <table *ngFor="let item of productlist | paginate: pageconfig; let i = index">
            <tr *ngIf="i % 4 == 0" class="row">
                <td class="col">
                    <div>
                        <img class="img-fluid" [src]="item.Image" style="width: 142px;height: 182px;">
                        <p>{{item.Name}}</p>
                        <p>{{item.Price}}</p>
                        <button [routerLink]="['/add-product-to-cart', item.ProductID]"
                            routerLinkActive="router-link-active">Add to cart</button>
                    </div>
                </td>
                <td class="col" *ngIf="productlist[i+1]!=undefine;else emptycol">
                    <div>
                        <img class="img-fluid" [src]="productlist[i+1].Image" style="width: 142px;height: 182px;">
                        <p>{{productlist[i+1].Name}}</p>
                        <p>{{productlist[i+1].Price}}</p>
                    </div>
                </td>
                <td class="col" *ngIf="productlist[i+2]!=undefine;else emptycol">
                    <div>
                        <img class="img-fluid" [src]="productlist[i+2].Image" style="width: 142px;height: 182px;">
                        <p>{{productlist[i+2].Name}}</p>
                        <p>{{productlist[i+2].Price}}</p>
                    </div>
                </td>
                <td class="col" *ngIf="productlist[i+3]!=undefine;else emptycol">
                    <div>
                        <img class="img-fluid" [src]="productlist[i+3].Image" style="width: 142px;height: 182px;">
                        <p>{{productlist[i+3].Name}}</p>
                        <p>{{productlist[i+3].Price}}</p>
                    </div>
                </td>
                <!--<td class="col" *ngIf="productlist[i+4]!=undefine;else emptycol">
            <div>
                <img class="img-fluid" src="productlist[i+4].Image" style="width: 142px;height: 182px;">
                <p>{{productlist[i+4].Name}}</p>
                <p>{{productlist[i+4].Price}}</p>
            </div>
        </td>-->
                <ng-template #emptycol>
                    <td class="col"></td>
                </ng-template>
            </tr>
        </table>
        <div class="d-flex justify-content-center">
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
    </div>
</div>